{% extends "bootstrap/base.html" %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href={{ url_for("default") }}>Home</a>
</nav>
{% endblock %}
