{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% block title %}RZ42 User management {% endblock %}

{% block content %}
<div class="container">
    {{ utils.flashed_messages() }}
    <div class="row">
        <a href="/new_registration" class="btn btn-primary btn-block" role="button">New registration</a>
    </div>
    <div class="row">
        <a role="button" class="btn btn-primary btn-block" href="/password_reset">Password reset</a>
    </div>
    <div class="row">
        <a role="button" class="btn btn-primary btn-block" href="/password_change">Password change</a>
    </div>
    <div class="row">
        <a role="button" class="btn btn-primary btn-block" href="/admin">Administration</a>
    </div>
</div>
{% endblock %}
