{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}

{% block content %}
<div class="container">
{{ utils.flashed_messages() }}
<form class="form form-vertical" action='login' method='POST'>
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    {{ wtf.form_field(form.name) }}
    {{ wtf.form_field(form.password) }}
    <input type='submit' value='Login'/>
</form>
{% if form.name.errors %}
<ul class="errors">
    {% for error in form.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>
{% endblock %}
