
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}

{% block content %}
<div class="container">
    {{ utils.flashed_messages() }}
    <form class="form form-vertical" action='password_change' method='POST'>
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.password_confirmation) }}
        <input type='submit' value='Change password'/>
    </form>
    <!-- {% if form.errors %}
         <ul class="errors">
         {% for error in form.errors %}
         <li>{{ error }}</li>
         {% endfor %}
         </ul>
         {% endif %} -->
</div>
{% endblock %}
